.socialicons {
    height:70px;
    transition: transform 0.5s;
    background-color: transparent;
}

.socialicons:hover{
    transform: scale(1.15);
}

#pictureofme{
    min-height: 90px;
    max-height: 430px;
}

#bike {
    min-height: 130px;
    max-height: 350px;
}

#TUD {
    max-height: 400px;
    min-height: 100px
}

#BSOM {
    max-width: 600px;
    min-width: 100px;
}

#ens {
    max-width: 400px;
    min-width: 100px;
}


