.socialicons {
    padding: 5px;
    height: 70px;
    transition: transform 0.5s;
}

.socialicons:hover{
    transform: scale(1.15);
}

#pictureofme{
    height: 400px;
    vertical-align: middle;
}

#bike {
    height: 350px;
}

#TUD {
    height: 400px;
}

#BSOM {
    width: 600px;
}