.section, .section2{
    padding: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: auto;
    max-width: 85%;
}

.section {
    justify-content: space-between;
}

.section2 {
    justify-content: space-around;
}

.card {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 3%;
    padding: 3%;
    margin: auto;
}

.card:hover, #links:hover{
    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);
}


.minilinkcard{
    /* border-radius: 15px; */
    max-width:max-content;
    max-height: max-content;
    transition: transform 0.5s;
    padding: 2px;
}

.minilinkcard:hover {
    /* box-shadow: 0 32px 64px 0 rgba(0,0,0,0.2); */
    transform: scale(1.3)

}

.pictureInCard {
    padding: 5px;
}

#buttonandimage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#buttondiv {
    padding-top: 10px;
    margin: 0px;
}

#links {
    background-color: #FFD369;
    min-width: 90%;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: 0.5s;
}

#links:hover{
    background-color: #cacaca;
}
