@font-face {
    font-family: 'Chivo Thin';
    src: url(fonts/chivo_font/static/Chivo-Thin.ttf);
}

@font-face {
    font-family: 'Chivo Bold';
    src: url(fonts/chivo_font/static/Chivo-Bold.ttf);
}

body, html,p {
    font-family:'Chivo Thin', sans-serif;
}

h1, h2, h3 {
    font-family: 'Chivo Bold';
    text-align: center;
}

#menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: linear-gradient(90deg, #292929, transparent) #696969;
    height: 75px;
    transition: background-color 1s;
    justify-content: space-between;
    margin: -10px;
    align-self: center;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    font-family: 'Chivo Bold';
}

#menu:hover, #menu:focus {
    background-color: black;
}


.menuinstance {
    padding-left: 50px;
    padding-right: 50px;
    
}

.navlink {
    line-height: 75px;
    color: white;
}

#name {
    font-size:x-large;
    font-family: 'Chivo Bold', sans-serif;  
}

a {
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    text-decoration: bold;
}

nav{
   /* position: fixed; */
   top: 0px;
}

