/*https://colorhunt.co/palette/222831393e46ffd369eeeeee*/

@font-face {
    font-family: 'Chivo Thin';
    src: url(fonts/chivo_font/static/Chivo-Thin.ttf);
}

@font-face {
    font-family: 'Chivo Bold';
    src: url(fonts/chivo_font/static/Chivo-Bold.ttf);
}

body, html {
    font-family:'Chivo Thin', sans-serif;
    scroll-behavior: smooth;
    /*background-color: #EEEEEE;*/
    font-size: 100%;
    margin: 0px;
}

html {
    background-image: url("images/nodes.png");
    background-repeat: repeat;
    background-size: contain;
}

p {
    font-family: 'Chivo Thin', sans-serif;
    font-size: 1.4em;
    color: #222831;
}

h1 {
    font-size: 3em;
}

h1, h2, h3 {
    font-family: 'Chivo Bold', sans-serif;
    font-weight: bold;
    text-align: center;
    color: #222831;
}

#menu {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    background: linear-gradient(90deg, #222831,transparent) #cacaca;
    /* background: linear-gradient(90deg, #292929, transparent) #696969; */
    min-height: 8%;
    transition: background-color 0.7s;
    justify-content: space-between;
    align-self: center;
    overflow: hidden;
    position: fixed;
    top: 0;
    min-width: 100%;
    font-family: 'Chivo Bold';
}

#menu:hover, #menu:focus, footer:hover, footer:focus, button:hover {
    /* background-color: black; */
    background-color: #393E46;
}


.menuinstance {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 3%;
    padding-right: 3%;
}

#cv {
    margin-right: 3%;
}

.navlink {
    line-height: 75px;
    color: white;
}

.navlink:hover {
    color: white;
}


a {
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    text-decoration: bold;
}

nav{
   /* position: fixed; */
   top: 0px;
}

footer {
    background: linear-gradient(90deg, #222831,transparent) #cacaca;
    padding: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 8%;
    max-height: 10%;
    color: white;
    transition: background-color 0.7s;
}

 button {
    background: #b0b0b0;
    border: solid white;
    border-radius: 5px;
    color: white;
    min-width: 20%;
    min-height: 5%;
    transition: background-color 0.7s;
    font-size: larger;
 }

