<div class="repo-trophies p-2 text-center">
  <span class="d-none d-sm-none d-md-block">
    {% include figure.liquid loading="eager" path='assets/img/trophy_light_lg.svg' class='only-light' %}
    {% include figure.liquid loading="eager" path='assets/img/trophy_dark_lg.svg' class='only-dark' %}
  </span>

  <span class="d-none d-sm-block d-md-none">
    {% include figure.liquid loading="eager" path='assets/img/trophy_light_md.svg' class='only-light' %}
    {% include figure.liquid loading="eager" path='assets/img/trophy_dark_md.svg' class='only-dark' %}
  </span>

  <span class="d-block d-sm-none">
    {% include figure.liquid loading="eager" path='assets/img/trophy_light_sm.svg' class='only-light' %}
    {% include figure.liquid loading="eager" path='assets/img/trophy_dark_sm.svg' class='only-dark' %}
  </span>
</div>
